*{
    padding: 0;
    margin: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.main-content{
    width: 100%;
    height: 100%;
    background: url(../images/tunja_2.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.login-box{
    
    width: 950px;
    height: 500px;
    background:transparent;

    /* border: 1px solid red; */
    /* background-color: rgba(255, 255, 255, 0.705); */
    backdrop-filter: blur(2px);
    box-shadow: 4px 4px 15px black;
    
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.535);
}
.login-box__content{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.login-box__title{
    color: white;
    font-weight: bolder;
    text-align: center;
}
.login-box__form{
    background: url(../images/tunja_2.jpg);
    

    border-radius: 5px;

    box-shadow: 4px 4px 10px black;


    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem;

    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.login-box__form-input{
    position: relative;
    color: white;
    width: 100%;
    height: 50px;
}
.login-box__input{
    font-size: 16px;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.286);
    border: none;
    outline: none;
    border-radius: 10px ;
    border-bottom: 2px solid black;
}
.login-box__input::placeholder{
    color:white;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
}
.login-box__input:enabled{
    color: white;
    font-weight: bold;
}

.login-box__icon{
    color: white;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    font-size: 18px;
 
}

/* icono del boton  */
.login-box__icon--special{
    color: white;
    left: 50%;
}

.btn-login {
    background-color: black;
    color: white;
    border: none;
    box-shadow: 2px 2px 2px black;
    border-radius: 40px;
    position:relative;
    outline: none;
    cursor: pointer;

    width: 100%;
    height: 45px;
    font-size: 1.3rem;
    font-weight: bold;
}
.btn-login:hover{
    border: 2px solid red;
    background-color: red;
    box-shadow: 2px 2px 5px white;
    color:white
}
.btn-login:hover .login-box__icon{
    color:white
}
.login-box__message{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.login-box__message-section{
    background-color: white;
    padding: 2rem;
}
.title{
    font-size: 2rem;
}